In [2]:
import xretrieval

metrics, results_df = xretrieval.run_benchmark(
    dataset="coco-val-2017",
    model_id="transformers/Salesforce/blip2-itm-vit-g",
    mode="text-to-text",
)

2024-11-20 13:06:26.850 | INFO     | xretrieval.datasets.coco:__init__:26 - COCO validation dataset found in data/coco/val2017, skipping download
2024-11-20 13:06:32.792 | INFO     | xretrieval.core:run_benchmark:104 - Encoding database text for transformers/Salesforce/blip2-itm-vit-g

Encoding captions:   0%|          | 0/157 [00:00<?, ?it/s]

Expanding inputs for image tokens in BLIP-2 should be done in processing. Please follow instruction here (https://gist.github.com/zucchini-nlp/e9f20b054fa322f84ac9311d9ab67042) to update your BLIP-2 model. Using processors without these attributes in the config is deprecated and will throw an error in v4.47.
2024-11-20 13:06:35.305 | INFO     | xretrieval.core:run_benchmark:112 - Encoding query text for transformers/Salesforce/blip2-itm-vit-g

Encoding captions:   0%|          | 0/157 [00:00<?, ?it/s]

  0%|          | 0/5000 [00:00<?, ?it/s]

In [3]:
results_df

,query_id,query_path,query_caption,query_name,retrieved_ids,retrieved_paths,retrieved_captions,retrieved_names,is_correct
0,139,data/coco/val2017/000000000139.jpg,A woman stands in the dining area at the table...,"book,chair,clock,dining table,microwave,person...","[441247, 154358, 492758, 435208, 369503, 40448...","[data/coco/val2017/000000441247.jpg, data/coco...",[A woman standing in a kitchen next to a table...,"[backpack,banana,bottle,chair,clock,couch,dini...","[False, False, False, False, False, False, Fal..."
1,285,data/coco/val2017/000000000285.jpg,A big burly grizzly bear is show with grass in...,bear,"[132622, 307658, 110972, 471450, 312586, 53207...","[data/coco/val2017/000000132622.jpg, data/coco...",[The large bear is looking in the direction of...,"[bear, bear, bear, bear, bear, bear, bear, bea...","[True, True, True, True, True, True, True, Tru..."
2,632,data/coco/val2017/000000000632.jpg,"Bedroom scene with a bookcase, blue comforter ...","bed,book,chair,potted plant","[403353, 183049, 65074, 134882, 294783, 464358...","[data/coco/val2017/000000403353.jpg, data/coco...",[A lamp sitting next to a small bed with a boo...,"[bed,book, book,clock, bed,book, bed,book,cat,...","[False, False, False, False, False, False, Fal..."
3,724,data/coco/val2017/000000000724.jpg,A stop sign is mounted upside-down on it's pos...,"car,stop sign,truck","[484029, 309173, 191471, 213593, 336587, 12659...","[data/coco/val2017/000000484029.jpg, data/coco...",[A stop sign with a street sign above it. A st...,"[car,stop sign, person,stop sign, stop sign, c...","[False, False, False, False, False, False, Fal..."
4,776,data/coco/val2017/000000000776.jpg,"Three teddy bears, each a different color, snu...","bed,teddy bear","[113403, 383386, 50844, 73118, 226058, 478393,...","[data/coco/val2017/000000113403.jpg, data/coco...",[Three teddy bears laying in bed under the cov...,"[bed,teddy bear, chair,teddy bear, teddy bear,...","[True, False, False, False, False, False, Fals..."
...,...,...,...,...,...,...,...,...,...
4995,581317,data/coco/val2017/000000581317.jpg,A woman holding a small item in a field. Woman...,"cell phone,person","[203639, 459272, 261061, 161875, 346968, 43398...","[data/coco/val2017/000000203639.jpg, data/coco...",[A girl in a dress and shirt standing in a fie...,"[person,tie, cell phone,person, baseball bat,p...","[False, True, False, False, False, True, False..."
4996,581357,data/coco/val2017/000000581357.jpg,Skate boarder hang time with young man appeari...,"bench,person,skateboard","[450559, 362520, 451084, 377635, 438907, 12547...","[data/coco/val2017/000000450559.jpg, data/coco...",[A teenager doing skateboard tricks at a skate...,"[person,skateboard, person,skateboard, person,...","[False, False, False, False, False, False, Fal..."
4997,581482,data/coco/val2017/000000581482.jpg,A fancy metal cloth is seen against huge barre...,clock,"[106563, 67896, 331317, 140929, 76211, 151857,...","[data/coco/val2017/000000106563.jpg, data/coco...",[A clock that is hanging underneath a glass ar...,"[clock, clock, clock,person, clock, clock, tra...","[True, True, False, True, True, False, False, ..."
4998,581615,data/coco/val2017/000000581615.jpg,A picture of a white toilet in the rest room. ...,toilet,"[201775, 348045, 206271, 234413, 175387, 34821...","[data/coco/val2017/000000201775.jpg, data/coco...",[A bathroom with two urinals and a sink. White...,"[sink,toilet, toilet, toilet, toilet, toilet, ...","[False, True, True, True, True, True, True, Tr..."
4999,581781,data/coco/val2017/000000581781.jpg,"A store display filled with ripe, unripe banan...",banana,"[560256, 50149, 479596, 509131, 371472, 407574...","[data/coco/val2017/000000560256.jpg, data/coco...",[A market area with boxes of fruit that includ...,"[apple,banana,orange, banana,bowl, apple,orang...","[False, False, False, False, True, True, False..."

In [4]:
import xretrieval

metrics, results_df = xretrieval.run_benchmark(
    dataset="coco-val-2017",
    model_id="transformers/Salesforce/blip2-itm-vit-g",
    mode="text-to-image",
)

2024-11-20 13:07:45.384 | INFO     | xretrieval.datasets.coco:__init__:26 - COCO validation dataset found in data/coco/val2017, skipping download
2024-11-20 13:07:50.402 | INFO     | xretrieval.core:run_benchmark:101 - Encoding database images for transformers/Salesforce/blip2-itm-vit-g

Encoding images:   0%|          | 0/157 [00:00<?, ?it/s]

2024-11-20 13:09:10.484 | INFO     | xretrieval.core:run_benchmark:112 - Encoding query text for transformers/Salesforce/blip2-itm-vit-g

Encoding captions:   0%|          | 0/157 [00:00<?, ?it/s]

In [5]:
metrics

{'MRR': 0.3205,
 'NormalizedDCG': 0.5122,
 'Precision': 0.2312,
 'Recall': 0.8854,
 'HitRate': 0.8854,
 'MAP': 0.2918}

In [6]:
results_df

,query_id,query_path,query_caption,query_name,retrieved_ids,retrieved_paths,retrieved_captions,retrieved_names,is_correct
0,139,data/coco/val2017/000000000139.jpg,A woman stands in the dining area at the table...,"book,chair,clock,dining table,microwave,person...","[435208, 492758, 441247, 396526, 139, 107339, ...","[data/coco/val2017/000000435208.jpg, data/coco...",[A young woman sitting cross legged on an apar...,"[chair,clock,couch,cup,dining table,keyboard,l...","[False, False, False, False, True, False, Fals..."
1,285,data/coco/val2017/000000000285.jpg,A big burly grizzly bear is show with grass in...,bear,"[513484, 132622, 471869, 453981, 229997, 23937...","[data/coco/val2017/000000513484.jpg, data/coco...",[A large brown bear standing next to a pile of...,"[bear, bear, couch,teddy bear,tie, bear, bear,...","[True, True, False, True, False, False, False,..."
2,632,data/coco/val2017/000000000632.jpg,"Bedroom scene with a bookcase, blue comforter ...","bed,book,chair,potted plant","[632, 464358, 51738, 134882, 294783, 10995, 18...","[data/coco/val2017/000000000632.jpg, data/coco...","[Bedroom scene with a bookcase, blue comforter...","[bed,book,chair,potted plant, bed,chair,tv, be...","[True, False, False, False, False, False, Fals..."
3,724,data/coco/val2017/000000000724.jpg,A stop sign is mounted upside-down on it's pos...,"car,stop sign,truck","[172856, 104782, 193884, 239843, 579893, 19271...","[data/coco/val2017/000000172856.jpg, data/coco...",[a stop sign and two brown and white street si...,"[stop sign, stop sign, stop sign, stop sign, s...","[False, False, False, False, False, False, Fal..."
4,776,data/coco/val2017/000000000776.jpg,"Three teddy bears, each a different color, snu...","bed,teddy bear","[383386, 211120, 174018, 349480, 335081, 776, ...","[data/coco/val2017/000000383386.jpg, data/coco...",[a couple of stuffed bears are on a bed Stuffe...,"[chair,teddy bear, bowl,teddy bear,truck, tedd...","[False, False, False, False, False, True, True..."
...,...,...,...,...,...,...,...,...,...
4995,581317,data/coco/val2017/000000581317.jpg,A woman holding a small item in a field. Woman...,"cell phone,person","[581317, 161875, 1268, 42528, 295713, 39914, 3...","[data/coco/val2017/000000581317.jpg, data/coco...",[A woman holding a small item in a field. Woma...,"[cell phone,person, person,tie, backpack,bird,...","[True, False, False, False, False, False, Fals..."
4996,581357,data/coco/val2017/000000581357.jpg,Skate boarder hang time with young man appeari...,"bench,person,skateboard","[538458, 424521, 176799, 378673, 256868, 28886...","[data/coco/val2017/000000538458.jpg, data/coco...",[THERE ARE PEOPLE PLAYING SKATE BOARD ON THE S...,"[person,skateboard,traffic light,truck, person...","[False, False, False, False, True, False, Fals..."
4997,581482,data/coco/val2017/000000581482.jpg,A fancy metal cloth is seen against huge barre...,clock,"[581482, 312263, 106563, 430048, 355169, 33131...","[data/coco/val2017/000000581482.jpg, data/coco...",[A fancy metal cloth is seen against huge barr...,"[clock, clock, clock, car,clock, clock, clock,...","[True, True, True, False, True, False, True, T..."
4998,581615,data/coco/val2017/000000581615.jpg,A picture of a white toilet in the rest room. ...,toilet,"[564023, 581615, 365387, 155154, 348045, 85576...","[data/coco/val2017/000000564023.jpg, data/coco...",[A public restroom with a toilet in the floor....,"[toilet, toilet, bed,cup,sink,toilet, toilet, ...","[True, True, False, True, True, True, False, T..."
4999,581781,data/coco/val2017/000000581781.jpg,"A store display filled with ripe, unripe banan...",banana,"[356428, 581781, 371472, 125936, 378515, 40757...","[data/coco/val2017/000000356428.jpg, data/coco...",[A couple of people walking through a market f...,"[backpack,banana,person, banana, banana, apple...","[False, True, True, False, False, True, False,..."